body {
  margin: 0;
  overflow: hidden;
  background-color: #0b1021;
}

#night-sky {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  --travel: 150vh;
}

#night-sky .star {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px lightseagreen);
  opacity: 0;
  width: calc(var(--size) * 2px);
  height: calc(var(--size) * 100px);
  transform: rotate(-45deg);
  animation: shooting-star ease-in-out infinite;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  top: var(--top);
  left: var(--left);
}

@keyframes shooting-star {
  0% {
    transform: rotate(-45deg) translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translateY(var(--travel));
    opacity: 0;
  }
}
